<template>
    <div class="row">
        <Conversation :user="selectedUser" :messages="messages" @new="saveNewMessage"/>
        <UserList :users="users" @selected="startConversationWith"/>
    </div>
</template>

<script>
    import Conversation from './Conversation';
    import UserList from './UserList';

    export default {
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                selectedUser: null,
                messages: [],
                users: [],
            }
        },
        mounted() {

            // Echo.channel('messages.1')
            //     .listen('chat', (e) => {
            //         alert(e);
            //         this.hanleIncoming(e.message)
            //     });

            axios.get('/users')
                .then((response) => {
                    this.users = response.data;
                });
        },
        methods: {
            startConversationWith(user) {
                axios.get(`/conversation/${user.id}`)
                    .then((response) => {
                        this.messages = response.data;
                        this.selectedUser = user;
                    })
            },
            saveNewMessage(message) {
                this.messages.push(message);
            },
            // hanleIncoming(message){
            //     if (this.selectedUser && message.from == this.selectedUser.id) {
            //         this.saveNewMessage(message)
            //     }
            //
            //     alert(message.message);
            // }
        },
        components: {Conversation, UserList}
    }
</script>
