<template>
    <div class="col col-md-8">
        <h2 class="interlocutorStyle">{{user ? user.name : "Select a interlocutor"}}</h2>
        <div class="msg-list" ref="container">
            <MessageList :user="user" :messages="messages"/>
        </div>
        <MessageComposer @send="sendMessage"/>
    </div>
</template>

<script>
    import MessageList from './MessageList';
    import MessageComposer from './MessageComposer';

    export default {
        props: {
            user: {
                type: Object,
                defaultL: null
            },
            messages: {
                type: Array,
                default: null
            }

        },
        methods: {
            sendMessage(message) {
                if (!this.user)
                    return;
                axios.post('/conversation/send', {
                    user_id: this.user.id,
                    message: message,
                }).then((response) => {
                    this.$emit('new', response.data);

                })
            },
            scrollToBottom() {
                setTimeout(() => {
                    this.$refs.container.scrollTop = this.$refs.container.scrollHeight - this.$refs.container.clientHeight;
                }, 50);
            }
        },
        components: {MessageComposer, MessageList},
        watch: {
            user() {

                this.scrollToBottom();
            },
            messages() {
                this.scrollToBottom();

            },
        }
    }
</script>

<style>
    .interlocutorStyle {
        position: absolute;
        top: -18px;
        left: 0;
        color: #404040;
        font-weight: 900;
        font-size: 20px;
    }

    .msg-list {
        background: #b1b1b1a1;
        margin: -1.25rem -1rem 0 -1.2rem;
        padding: 0;
        border: 1px solid #b1b1b1;
        height: 476px;
        overflow: auto;
        border-radius: 3px;
    }
</style>
