<template>
    <div class="composer">
        <textarea class="composer-area" v-model="message" @keydown.enter="send" placeholder="Enter message"
                  rows="3"></textarea>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                message: ''
            }
        },
        methods: {
            send(e) {
                e.preventDefault();
                if (this.message == '') {
                    return;
                }

                this.$emit('send', this.message);
                this.message = ''
            }
        }
    }
</script>

<style>
    .composer {
        margin: -4.5rem -1.2rem;
    }

    .composer-area {
        width: 99.6%;
        position: relative;
        border-top: 3px solid rgba(84, 84, 84, 0.59);
        border-radius: 5px;
        resize: unset;
        bottom: -70px;
    }
</style>
