<template>
<span>
        <ul class="chat" v-if="user">
            <li class="chat-item" v-for="message in messages"
                :class="`message-${message.to == user.id ? 'send' : 'received'}`"
                :key="message.id">
                <div class="text">
                    {{message.message}}
                </div>
            </li>
        </ul>
 </span>
</template>

<script>
    export default {
        props: {
            user: {
                type: Object,
            },
            messages: {
                type: Array,
                required: true
            },

        }

    }
</script>

<style>


    .chat {
        list-style: none;
        text-decoration: none;
    }

    .chat-item {
        margin: 2rem;
        width: 90%;
        font-size: 15px;
    }

    .message-received {
        margin-left: -40px;
        background: #b7b7b7;
        padding: 10px;
        padding-left: 20px;
        border-radius: 22px;
    }

    .message-send {
        margin-left: 10%;
        background: #72a0e6;
        padding: 10px;
        padding-right: 20px;
        border-radius: 22px;
    }
</style>
