<template>
    <div class="col col-md-4 user-list">
        <ul class="ul-style">
            <li class="ul-item" v-for="(user, index) in users" :key="user.id" @click="selectUser(index, user)">
                <!--                :class="{ 'selected': user == selected }"-->

                <div class="avatar">
                    <img :src="user.profile_image" :alt="user.name">
                </div>
                <div class="contact">
                    <p class="name">{{user.name}}</p>
                    <p class="email">{{user.email}}</p>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            users: {
                type: Array,
                default: []
            }
        },
        dara() {
            return {
                selected: 0,
            }
        },
        methods: {
            selectUser(index, user) {
                this.selected = index;

                this.$emit('selected', user);
            }
        }

    }
</script>

<style sacss>
    .user-list {
        background: #b1b1b1a1;
        margin: -1.25rem 0;
        padding: 0;
        border: 1px solid #b1b1b1;
        height: 550px;
        overflow: auto;
        border-radius: 3px;


    }

    .ul-style {
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    .ul-item {
        display: flex;
        border-bottom: 2px groove #fffdfd;
        border-radius: 15px;
        cursor: pointer;
    }

    .avatar img {
        margin: 1em;
        max-width: 50px;
        border: 1px solid #969696;
        border-radius: 100%;
    }

    .contact {
        display: flex;
    }

    .name {
        position: absolute;
        margin-top: 28px;
        margin-left: 20px;
        color: #404040;
        font-weight: 900;
        font-size: 16px;
    }

    .email {
        position: absolute;
        margin-top: 56px;
        margin-left: -15px;
        position: absolute;
        margin-top: 56px;
        margin-left: -15px;
        opacity: 0.5;
        text-shadow: 1px 1px 3px #1b1b1b, 0 0 0.1em #060606;
        color: white;
    }
</style>
